*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: #f9fafb; /* same as app-root */
  color: #020617;
}

/* Let React app take full width */
#root {
  width: 100%;
  min-height: 100vh;
}
